Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
IndentStyle: space

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: Always

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true

MaxEmptyLinesToKeep: 2
